<!--<div class="container-fluid" ng-if="loaded">-->
<div ng-if="loaded">
    <div class="row">
        <div class="col-xs-2">
            <button ng-click="$ctrl.refreshData()">{{$ctrl.langService.getText("refresh")}}</button>
        </div>
        <div class="col-xs-1">
            Search
        </div>
        <div class="col-xs-2">
            <input ng-model="$ctrl.query"/>
        </div>
        <div class="col-xs-7">&nbsp</div>
    </div>
    <div class="row" ng-repeat="song in $ctrl.songs | filter:$ctrl.query | orderBy:$ctrl.orderProp"
         class="song-list-item">
        <div class="col-xs-12">
            <a href="#!/songs/{{song.id}}">{{song.name}}</a>
        </div>
    </div>
</div>
