<div class="container-fluid header">
    <div class="row">
        <div class="col-sm-1">
            <img class="header_icon" src="img/caxixi.jpg"/>
        </div>
        <p>
            <button ng-click="$ctrl.setLang('pt')">PT</button>
            <button ng-click="$ctrl.setLang('en')">EN</button>
            <button ng-click="$ctrl.setLang('fr')">FR</button>
        </p>

        <div class="col-sm-10">
            <h1>{{titleLabel}}</h1>
        </div>
        <div class="col-sm-1">
            <img class="header_icon" src="img/berimbau.jpg"/>
        </div>
    </div>
    <div class="row" height="32"><h6>{{creditsLabel}}</h6></div>
</div>
