<!--<div class="container-fluid header">-->
<div class="header">
    <div class="row">
        <div class="col-xs-1">
            <img class="header_icon" src="img/caxixi.jpg"/>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-10">
                    <h1>{{titleLabel}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="row" height="32"><h6>{{creditsLabel}}</h6></div>
                </div>
                <div class="col-xs-7">&nbsp</div>
                <div class="col-xs-1">
                    <button ng-click="$ctrl.setLang('pt')">PT</button>
                </div>
                <div class="col-xs-1">
                    <button ng-click="$ctrl.setLang('en')">EN</button>
                </div>
                <div class="col-xs-1">
                    <button ng-click="$ctrl.setLang('fr')">FR</button>
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <img class="header_icon" src="img/berimbau.jpg"/>
        </div>
    </div>
</div>
