.header_block {
  background-color: green;
  border: 1px solid black;
}

.header_icon {
 width: 64px;
 height: 64px;
}

.view_control_pane {
  margin-top: 0.5em;
}

/* Animate view transitions with `ngView` */
.view-container {
  position: relative;
}

.view-frame {
  margin-top: 20px;
}

